
<link rel="stylesheet" href="~/Stylesheets/Login.css" type="text/css" media="screen" />
<div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form method="post" action="@Url.Action("Login", "UsersController")">
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="pass" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
            </form>

            <div class="login-help">
                <a href="/Users/Create">Register</a> - <a href="/Home/TooBad">Forgot Password</a>
            </div>
        </div>
    </div>
</div>